* {
    box-sizing: border-box;
}

html {
    background-color: #f0f0f0;
}

html, body {
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    margin: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

#main_area {
    margin-top: 1em;
    text-align: center;
}

#sail-message {
    text-align: center;
}

@media only screen and (min-width: 786px) {
    #main_area {
        margin-top: 4em;
    }
}
