<!doctype html>
<html>

<head>
	<title>Sail | Office</title>
	<meta charset="utf-8">
	<meta name="title" content="Sail Office">
	<meta name="robots" content="nofollow, noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/theme/default-backend/style.css"/>
</head>

<body>
	{{if eq .URL "/office/login"}}
	{{template "login" .}}
	{{else}}
	{{template "header" .}}
	{{template "sidebar" .}}
	{{template "main" .}}
	{{end}}
	{{if .Message}}<div id="message">{{.Message}}</div>{{end}}
</body>

</html>
