#sail-backend-content {
	width: 90%;
	margin: 3em auto 0;
}

.sail-person-name {
	font-weight: bold;
	color: #494c50;
}

@media only screen and (min-width: 640px) {
	#sail-backend-content {
		width: 100%;
	}
}
