.sail-backend-header {
	position: fixed;
	top: 0;
	z-index: 50;
	width: 100%;
	height: 4rem;
	padding-top: 0.5rem;
	background-color: #b9bcc0;
	color: #494c60;
	box-shadow: 0 0 4px #000000;
}

/* user management */
#sail-backend-users-header #user-group-toggle-label,
#sail-backend-users-header #user-actions,
#sail-backend-users-header #group-actions,
#sail-backend-users-header #user-selection-actions,
#sail-backend-users-header #group-selection-actions,
#sail-backend-users-header #search-field {
	display: inline-block;
	height: 3em;
	border-right: 1px solid #696c80;
}

#sail-backend-users-header #search-field {
	border: none;
}

#sail-backend-users-header #user-group-toggle-label {
	padding: 0 1em;
	margin-left: 1em;
}

#sail-backend-users-header img {
	height: 100%;
	width: auto;
}

#sail-backend-users-header button {
	height: 100%;
	background: none;
	margin: 0;
	padding: 0 1em;
	border: none;
}

#sail-backend-users-header #user-group-toggle-label:hover,
#sail-backend-users-header button:hover {
	background: #c9ccd0;
}

#sail-backend-users-header #user-group-toggle,
#sail-backend-users-header #group-actions,
#sail-backend-users-header #group-selection-actions {
	display: none;
}

#user-group-toggle-label #group-icon {
	opacity: 0.3;
}

#sail-backend-users-header #user-group-toggle:checked ~ #user-group-toggle-label #group-icon {
	opacity: 1;
}

#sail-backend-users-header #user-group-toggle:checked ~ #user-group-toggle-label #user-icon {
	opacity: 0.3;
}

#sail-backend-users-header #user-group-toggle:checked ~ #group-actions,
#sail-backend-users-header #user-group-toggle:checked ~ #group-selection-actions {
	display: inline-block;
}

#sail-backend-users-header #user-group-toggle:checked ~ #user-actions,
#sail-backend-users-header #user-group-toggle:checked ~ #user-selection-actions {
	display: none;
}

#sail-backend-users-header #search-field {
	vertical-align: top;
}

#sail-backend-users-header #search-field input {
	background: #c9ccd0;
	border: none;
	border-bottom: 1px solid #696c80;
	font-size: 1.5em;
	width: 10em;
	margin: 0 0 0.5em 1em;
	vertical-align: bottom;
}
