#sail-backend-login-header {
	font-size: 1.2em;
	padding-top: 1em;
	text-align: center;
}

#sail-backend-login-form {
    width: 90%;
    margin: 5em auto 0;
}

#sail-backend-login-form input {
    display: block;
    margin: 0.25em 0;
    width: 100%;
    padding: 0.4em 0.1em;
    text-align: center;
    border: 1px solid #d0d0d0;
    font-size: 1.2em;
}

#sail-backend-login-form #submit {
    color: white;
    font-weight: bold;
    background: #17d193;
    border: none;
    border-bottom: 2px solid #07a063;
    padding: 1em 0.4em;
}

#sail-backend-login-form #submit:hover {
    background: #07b073;
    border-bottom: 2px solid #009053;
}

#sail-backend-login-form ~ #message {
    margin-top: 1em;
    color: #db5343;
    font-weight: bold;
    font-size: 1.2em;
}

#sail-message {
	margin-top: 1em;
	color: #db5343;
	font-weight: bold;
	font-size: 1.2em;
}

/******************************************************************************
 * Desktop Screens
 ******************************************************************************/
@media only screen and (min-width: 640px) {
	#sail-backend-header,
	#sail-message {
		font-size: 1em;
	}

	#sail-backend-login-form {
		margin-top: 6em;
	}

    #sail-backend-login-form input {
        margin: 0.25em auto;
        width: 20em;
        font-size: 0.85em;
    }

    #sail-backend-login-form #submit {
        padding: 0.4em 0.1em;
    }
}
