#sail-backend-main {
	margin: 4em 1em 1em;
}

.sail-person-name {
	font-weight: bold;
	color: #494c50;
}

@media only screen and (min-width: 640px) {
	#sail-backend-main {
		margin: 4em 1em 1em 13em;
	}
}
