#sail-backend-sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 12em;
	height: 100vh;
	padding-top: 4rem;
	z-index: 20;
	background: #c0c0c0;
}

/* main menu */
#sail-backend-nav {
	text-align: left;
}

#sail-backend-nav a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #404040;
	padding: .5rem 1rem;
}

#sail-backend-nav a:hover {
	color: #ffffff;
}

#sail-backend-nav .active {
	color: #ffffff;
	background: #1793d1;
}
