<!doctype html>
<html>

<head>
	<title>{{.PageTitle}}</title>
	<meta charset="utf-8">

	<meta name="title" content="{{.MetaTitle}}">
	<meta name="keywords" content="{{.MetaKeywords}}">
	<meta name="description" content="{{.MetaDescription}}">
	<meta name="language" content="{{.MetaLanguage}}">
	<meta name="page-topic" content="{{.MetaPageTopic}}">
	<meta name="revisit-after" content="{{.MetaRevisit}}">
	<meta name="robots" content="{{.MetaRobots}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="/js/default/site.js"></script>
	<link rel="stylesheet" href="/theme/default/style.css"/>
</head>

<body>
	{{template "header" .}}
    {{template "content" .}}
	{{template "footer" .}}
</body>

</html>
