#main_menu {}

#main_menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

#main_menu #active {
    font-weight: bold;
}

#header #main_menu a {
    border-bottom: 4px solid transparent;
    display: inline-block;
    margin: 0.5em 0;
    padding: 0 1em;
    cursor: default;
    color: #4d4d4d;
}

#header #main_menu a:hover {
    border-bottom: 4px solid #1793d1;
}

#header #main_menu a img {
    display: block;
    margin: 0 auto;
}
