{{define "menu_default"}}
<a href="#"><span>First Item</span></a> 
<a href="#"><span>Second Item</span></a> 
<a href="#"><span>Third Item</span></a> 
<a href="#"><span>Fourth Item</span></a>
{{end}}

{{define "menu_alt1"}}
<a href="#"><span>Erster Punkt</span></a> 
<a href="#"><span>Zweiter Punkt</span></a> 
<a href="#"><span>Dritter Punkt</span></a> 
<a href="#"><span>Vierter Punkt</span></a>
{{end}}

{{define "menu_alt2"}}
<a href="#"><span>Nuff</span></a> 
<a href="#"><span>Said</span></a> 
<a href="#"><span>Said</span></a> 
<a href="#"><span>Nuff</span></a>
{{end}}
